@charset "UTF-8";
* {
  /* 폰트 사이즈 제거 */
  font-size: 0;
}
.box {
  /* 인라인 블록 */
  display: inline-block;

  /* 정사각형 */
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;

  /* 폰트 사이즈 재설정 */
  font-size: 16px;
}


/* * 애스터리스크 all element를 담당하는 선택자, 우선순위가 최 하위 */
/* css의 선언에는 나중에 선언하는 것의 우선순위가 높다, 선택자 별로 우선순위가 다르다 */
/* 우리가 지양하기로 했던 스타일선언법 중 인라인 스타일이 우선순위가 가장 높다! */
/* 각 스타일 선언의 우선순위는 f12 개발자 모드에서 styles 탭에서 스택(쌓이는)의 형태를 보고 확인한다 */